/*основной зеленый цвет #00cd98*/


/*пользовательские шрифты*/

@font-face {
    font-family: "Roboto";
    /* Гарнитура шрифта */
    src: url(fonts/Roboto-Light.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-Regular;
    /* Гарнитура шрифта */
    src: url(fonts/Roboto-Regular.ttf);
    /* Путь к файлу со шрифтом */
}


/*убрал обводку со всех элементов в фокусе*/

body *:focus {
    outline: 0;
}

body * {
    font-family: "Roboto";
}

body .dn{
    display: none;
}

/*текст по центру*/

.text-center {
    text-align: center;
}


/*зеленый цвет шрифта*/

.green {
    color: #00cd98;
}


/*жирный шрифт font-family: Roboto-Regular;*/

.font-rr {
    font-family: Roboto-Regular;
}


/*хак для float*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*Убрал маркеры всех списков*/

li {
    list-style: none;
}


/*ширина 1200 по центру*/

.w1200 {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}


/*убрал подчеркивание всех ссылок, черный цвет всем ссылкам*/

a {
    text-decoration: none;
    color: #000;
}


/*=========================*/


/*---------------ШАПКА САЙТА-------------------*/


/*верхняя черная линия*/

.line-top-white {
    height: 39px;
    margin-bottom: 1px;
    position: relative;
}


/*блок логотипа*/

.div-logo {
    background: url(img/png/logo.png) center no-repeat;
    background-color: #00cd98;
    position: absolute;
    top: 0px;
    width: 186px;
    height: 110px;
    z-index: 2;
}


/*ссылка в лого*/

.div-logo a {
    display: block;
    height: 100%;
}


/*верхняя черная линия*/

.line-top-black {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.35);
    left: 0px;
    width: 100%;
    min-width: 1180px;
    height: 70px;
}


/*верхняя строка с меню и формой входа*/

.menu-user {
    margin-left: 186px;
}


/*=============верхнее меню 1====================*/

.ul-top-1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.ul-top-1 li {
    display: inline-block;
}

.ul-top-1 li a {
    margin: 0;
    display: inline-block;
    padding-left: 37px;
    padding-right: 37px;
    font-family: "Roboto", 'Arial';
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    line-height: 39px;
}


/*при наведении верхнее меню 1*/

.ul-top-1 li a:hover,
.ul-top-1 li.current-menu-item a {
    background-color: #000;
    color: #fff;
}


/* ===========стиль кнопок верхних вход регистрация===========*/

.vhod {
    float: right;
}


/* вход и регистрация */

.btn-top-1 a {
    display: inline-block;
    font-family: "Roboto", 'Arial';
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(51, 51, 51);
    line-height: 39px;
    padding-left: 46px;
    padding-right: 46px
}


/*кнопка входа при наведении*/

.btn-top-1 a:hover {
    background-color: #00cd98;
}

.vhod img {
    margin-right: 10px;
}


/*==================================*/


/*=============верхнее меню 2====================*/

.ul-top-2 {
    margin: 0;
    padding: 0;
    margin-left: 186px;
    text-align: center;
}

.ul-top-2 li {
    display: inline-block;
}

.ul-top-2 li a {
    display: block;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    font-family: Roboto-Regular, 'Arial';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    line-height: 70px;
    width: 100%;
}


/*при наведении верхнее меню 2*/

.ul-top-2 li a:hover,
.ul-top-2 li.current-menu-item a {
    color: #00cd98;
}

.ul-top-2 li:first-child a {
    padding-left: 0;
}

.ul-top-2 li:last-child a {
    padding-right: 0;
}


/* подчеркивание элементов меню 2*/

.ul-top-2 li a:active .line-menu,
.ul-top-2 li.current-menu-item .line-menu {
    border-bottom: 2px solid #00cd98;
    padding-bottom: 7px;
}


/*путь к странице*/

.put{
    font-size: 10px;
    font-family: "Roboto";
    color: rgb(51, 204, 153);
    line-height: 1.2;
    position: absolute;
    left: 41px;
    top: 120px;
}

.put a {
    color: rgb(51, 204, 153);
}

/*==================================*/


/*============ОСНОВНАЯ ЧАСТЬ===================*/


/*Контейнер для основной части*/

.container {
    width: 1130px;
    margin: 0 auto;
    margin-top: 40px;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
}


/*контейнер для основного содержимого*/

section {
    width: 850px;
    display: inline-block;
}


/*Когтейнер для левого и правого блока*/

article {
    border-bottom: 1px solid rgb(221, 221, 221);
}


/*блоки левый и правый*/

.block {
    width: 405px;
    /*background-color: #ddd;*/
}

.block-left {
    float: left;
}

.block-right {
    float: right;
}


/*Заголовок левого и правого контейнера*/

.zagolovok {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 22px;
    font-family: "Roboto", 'Arial';
    color: rgb(51, 51, 51);
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.28);
    line-height: 1.2;
    font-weight: normal;
}


/*подчеркивающаяся зеленая линия*/

.line {
    border-bottom: 1px solid #00cd98;
    padding-bottom: 7px;
}


/*картинка левого блока*/

.img-colomn {
    width: 405px;
    height: 149px;
    margin-top: 27px;
}

.mixologiya {
    background: url(img/png/mixologiya.png)center no-repeat;
}

.vipe-news {
    background: url(img/png/vipe-news.png)center no-repeat;
}


/*кратное описание новости*/

.news {
    position: relative;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.news:last-child {
    border-bottom: none;
}


/*общий стиль даты*/

.data {
    font-size: 12px;
    font-family: "Roboto", 'Arial';
    color: rgb(66, 213, 173);
}


/*для левого и правого блоков*/

.data-block {
    position: absolute;
}


/*заголовок общий*/

.title {
    font-size: 16px;
    font-family: "Roboto", 'Arial';
    color: rgb(0, 0, 0);
    margin: 0;
    line-height: 1.2;
}


/*заголовок для блока*/

.title-block {
    height: 35px;
    width: 250px;
    margin-left: 145px;
    text-align: right;
    line-height: 1.2;
}


/*кратное описание общее*/

.text {
    font-size: 12px;
    font-family: "Roboto", 'Arial';
    color: rgb(102, 102, 102);
    text-align: left;
    margin: 0;
    margin-top: 10px;
    line-height: 1.2;
}


/*кратное описание для блока*/

.text-block {
    height: 40px;
    line-height: 1.2;
}


/*кнопка читаль полностью общая*/

.read-all {
    font-size: 10px;
    font-family: "Roboto", 'Arial';
    color: #00cd98;
    border: 1px solid #00cd98;
    padding: 5px 20px;
}


/*кнопка читаль полностью для блока*/

.read-all-block {
    float: right;
}

.read-all-block:hover {
    color: #000;
    border-color: #000;
}


/*============ПРОЧИЕ ПОСТЫ==============*/


/*Блок для постов*/

.div-post-other {}


/*пост*/

.post-other {
    margin-top: 37px;
    height: 167px;
}


/*блок для картинки*/

.post-other-img {
    display: inline-block;
    width: 419px;
    height: 167px;
    position: relative;
}


/*миниатюра поста*/

.post-other-img img {
    width: 419px;
    height: 167px;
}


/*темная полоска внизу миниатюры поста*/

.post-other-black-info {
    position: absolute;
    bottom: 31px;
    width: 379px;
    height: 31px;
    margin-bottom: -31px;
    padding: 0 20px;
    background-color: rgb(0, 0, 0);
    opacity: 0.502;
    /*line-height: 28px;*/
}


/*дата на черной полоске*/

.data-other {
    line-height: 31px;
    font-size: 14px;
}


/*читать полностью на черной полоске*/

.read-all-other {
    font-size: 12px;
    float: right;
    margin-top: 3px;
}


/*блок заголовока и анонса поста*/

.post-other-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 405px;
    height: 167px;
    float: right;
}


/*выравнивение по центру по вертикали текст*/

.va-c {
    margin: auto 0;
}


/*заголовок поста*/

.title-other {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 1.2;
}


/*анонс поста, описание рубрики*/

.text-other {
    font-size: 14px;
    text-align: left;
    line-height: 1.2;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
}


/*=====================================*/


/*=================ПАГИНАЦИЯ====================*/


/*контейнер для пагинации*/

.pagination-index {
    margin-top: 70px;
    text-align: center;
    font-family: Roboto-Regular, 'Arial';
}


/*ul пагинации*/

.page-numbers {
    font-size: 18px;
    color: rgb(51, 51, 51);
}


/*li пагинации*/

.page-numbers li {
    display: inline-block;
}


/*активная страница*/

.page-numbers li span {
    color: #00cd98;
}


/*стрелка назад*/

.prev {
    margin-right: 30px;
}


/*стрелка вперед*/

.next {
    margin-left: 30px;
}


/*---------------САЙДБАР------------------*/

sidebar {
    width: 240px;
    float: right;
    position: relative;
}


/*sb-r блок с ярлыком общий*/

.sb-r {
    margin-top: 77px;
    border: 3px solid #000;
    width: 181px;
    /*height: 262px;*/
    /*height: 216px;*/
    position: relative;
    padding: 35px 27px 20px;
}


/*=======top5=======*/

.top5 {
    margin-top: 52px;
}


/*значек сайдбара*/

.sidebar-img {
    position: absolute;
    right: 27px;
    top: -47px;
}


/*ссылки TOP5*/

.top5 a {
    display: block;
    font-size: 12px;
    font-family: Roboto-Regular;
    color: #666;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    line-height: 1.2;
}


/*первая ссылка*/

.top5 a:first-child {}


/*крайняя ссылка*/

.top5 a:last-child {
    border-bottom: none;
    padding-bottom: 0;
}


/*=======best======*/


/*the best*/

.best {
    margin-top: 105px;
}


/*=========ПОДПИСКА========*/


/*ввод email*/

.input-email {
    width: 161px;
    padding: 5px;
    padding-left: 15px;
    font-family: Roboto-Regular;
    color: #666;
    font-size: 12px;
    margin: 0;
    margin-bottom: 20px;
    border: none;
    background-color: #ddd;
    height: 20px;
}

/*ширина строки ввода*/
.wysija-input{
    width:178px;
}

/*ввод email при фокусе*/

.input-email:focus {
    border: none;
    outline: none;
}


/*зеленая кнопка в сайд баре*/
#loginform input[type="submit"],
.btn-green,
.wysija-submit {
    /*padding: 5px;*/
    width: 181px;
    height: 30px;
    line-height: 30px;
    font-family: Roboto-Regular;
    text-transform: uppercase;
    background-color: #00cd98;
    font-size: 12px;
    border: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}


/*зеленая кнопка при наведении*/
#loginform input[type="submit"]:hover,
.btn-green:focus,
.btn-green:hover,
.wysija-submit:focus,
.wysija-submit:hover {
    border: 0;
    outline: 0;
    background-color: #02a379;
}


/*==========ОПРОСНИК==========*/


/*общий стиль label */

.sb-r label:not(.best label) {
    display: block;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}


/*радио кнопка*/

input[type="radio"] {
    cursor: pointer;
}


/*============РЕКЛАМНЫЙ БАННЕР САЙДБАР========*/


/*контейнер для банера*/

.sb-banner {
    margin-top: 20px;
    width: 241px;
    overflow: hidden;
}


/* отступ 1 банера*/

.sb-banner.sb-banner-1 {
    margin-top: 58px;
}


/* отступ 2 банера*/

.sb-banner.sb-banner-2 {
    margin-top: 55px;
}


/* отступ 3 банера*/

.sb-banner.sb-banner-3 {
    margin-top: 25px;
}


/*картинка рекламного блока*/

.sb-banner img {
    width: 241px;
    height: 100%;
}


/*==========BEST-DEVICE ЛУЧШИЕ ДЕВАЙСЫ========*/


/*контейнер best-device*/

.best-device {
    margin-top: 44px;
    width: 241px;
}


/*Заголовок*/

.best-device p {
    font-size: 18px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.28);
}


/*стиль ссылки девайса общее*/

.best-device-a {
    -webkit-background-size: cover;
    background-size: cover;
    width: 131px;
    height: 84px;
    display: block;
    display: table;
    font-size: 16px;
    font-family: Roboto-Regular;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding-left: 110px;
    margin-bottom: 7px;
}


/*для выравнивания по центру*/

.best-device-a span {
    display: table-cell;
    vertical-align: middle;
}


/*стиль ссылки девайса при наведении общее*/

.best-device-a:hover {
    color: rgb(0, 0, 0);
}


/*отступ первого блока от заголовка*/

.best-device-a:nth-child(2) {
    margin-top: 30px;
}


/*отступ крайнего блока отменен*/

.best-device-a:last-child {
    margin-bottom: 0;
}


/*1 девайс*/

.best-device-a.d1 {
    background: url(img/png/best-device/1b.png) no-repeat;
}

.best-device-a.d1:hover {
    background: url(img/png/best-device/1g.png) no-repeat;
}


/*2 девайс*/

.best-device-a.d2 {
    background: url(img/png/best-device/2b.png) no-repeat;
}

.best-device-a.d2:hover {
    background: url(img/png/best-device/2g.png) no-repeat;
}


/*3 девайс*/

.best-device-a.d3 {
    background: url(img/png/best-device/3b.png) no-repeat;
}

.best-device-a.d3:hover {
    background: url(img/png/best-device/3g.png) no-repeat;
}


/*4 девайс*/

.best-device-a.d4 {
    background: url(img/png/best-device/4b.png) no-repeat;
}

.best-device-a.d4:hover {
    background: url(img/png/best-device/4g.png) no-repeat;
}


/*5 девайс*/

.best-device-a.d5 {
    background: url(img/png/best-device/5b.png) no-repeat;
}

.best-device-a.d5:hover {
    background: url(img/png/best-device/5g.png) no-repeat;
}


/*6 девайс*/

.best-device-a.d6 {
    background: url(img/png/best-device/6b.png) no-repeat;
}

.best-device-a.d6:hover {
    background: url(img/png/best-device/6g.png) no-repeat;
}


/*==========стрелка вверх==============*/

.up {
    width: 37px;
    height: 53px;
    position: absolute;
    right: 265px;
    bottom: 0;
    background: url(img/png/up.png) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    cursor: pointer;
}


/*--------------------footer-------------*/


/*блок футера*/

footer {
    background-color: #000;
    min-width: 1180px;
    margin-top: 70px;
    font-family: "Roboto";
}


/*части футера*/

.footer .w1200 {
    position: relative;
}


/*footer-1*/

.footer-1 {
    padding-top: 43px;
    height: 200px;
    border-bottom: 1px solid #ddd;
}


/*цвет текста ссылки в футере*/

.footer,
.footer a {
    color: #fff;
    font-size: 12px;
    color: rgb(102, 102, 102);
    text-transform: uppercase;
    line-height: 2;
    text-align: left;
}


/*цвет ссылок в футере при наведении или если на ней находится*/

.footer a:hover,
.footer li.active a,
.footer li.current-menu-item a {
    color: #00cd98;
}


/*меню общее ul*/

.footer-menu {
    position: absolute;
    margin: 0;
    padding: 0;
}


/*======footer-1==========*/


/*меню футер 1 */

.footer-menu-1-ul {
    left: 112px;
    width: 172px;
}


/*меню футер 2 */

.footer-menu-2-ul {
    left: 330px;
    width: 280px;
}


/*блок с соцсетями и входом*/

.footer-soc {
    position: absolute;
    left: 751px;
    width: 306px;
}


/*footer регистрация*/

.footer-reg {
    margin-left: 64px;
}

.footer-socseti {
    margin-top: 54px;
}


/*===========footer-2===========*/

.footer-2,
.footer-2 .w1200 {
    height: 67px;
}


/*надпись политики конфеденциальности*/

a.politika {
    line-height: 67px;
    text-transform: none;
    text-decoration: underline;
}


/*рекламное агенство в футере*/

.design {
    width: 136px;
    height: 59px;
    position: absolute;
    bottom: 0;
    right: 0;
}


/*=========Иконки в футере============*/


/*вход регистрация*/

.footer-zamok {
    background: url(img/png/zamok-silver.png) no-repeat;
    padding-left: 22px;
    background-size: 9px;
    height: 70px;
}

.footer-zamok:hover {
    background: url(img/png/zamok-green.png) no-repeat;
    background-size: 9px;
}

.footer-key {
    margin-left: 65px;
    background: url(img/png/key-silver.png) no-repeat;
    padding-left: 22px;
    background-size: 9px;
    height: 70px;
}

.footer-key:hover {
    background: url(img/png/key-green.png) no-repeat;
    background-size: 9px;
}


/*соц сети*/

.footer-socseti a {
    width: 26px;
    height: 26px;
    display: inline-block;
    color: #000;
    margin-right: 8px;
    background-color: #999;
    line-height: 26px;
    font-size: 18px;
    text-align: center;
}

.footer-socseti a:hover {
    background-color: #00cd98;
    color: #000;
}


/*загрузка изображений*/

.loader {
    margin-left: -1000px;
    background: url(img/png/logo.png) center no-repeat, url(img/png/mixologiya.png)center no-repeat, url(img/png/vipe-news.png)center no-repeat, url(img/png/best-device/1b.png) no-repeat, url(img/png/best-device/1g.png) no-repeat, url(img/png/best-device/2b.png) no-repeat, url(img/png/best-device/2g.png) no-repeat, url(img/png/best-device/3b.png) no-repeat, url(img/png/best-device/3g.png) no-repeat, url(img/png/best-device/4b.png) no-repeat, url(img/png/best-device/4g.png) no-repeat, url(img/png/best-device/5b.png) no-repeat, url(img/png/best-device/5g.png) no-repeat, url(img/png/best-device/6b.png) no-repeat, url(img/png/best-device/6g.png) no-repeat, url(img/png/up.png) no-repeat, url(img/png/zamok-silver.png) no-repeat, url(img/png/zamok-green.png) no-repeat, url(img/png/key-silver.png) no-repeat, url(img/png/key-green.png) no-repeat;
}


/*------------------------------ЛУЧШИЕ ДЕВАЙСЫ-------------------------------*/

.mt35 {
    margin-top: 35px;
}

.mt50 {
    margin-top: 50px;
}


/*отступ постов друг от друга, кроме первого*/

.div-post-best_device:not(:nth-child(4)) {
    margin-top: 197px;
}

.podzagolovok {
    font-size: 18px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.28);
    font-family: "Roboto";
    margin-left: 12px;
}


/*содеражание поста, блок с черной рамкой*/

.post-text {
    border: 1px solid #000;
    padding: 58px 30px 25px 30px;
    position: relative;
}


/*блок для картинки поста*/

.post-div-img {
    height: 292px;
    width: 292px;
    /*background-image: url(http://placehold.it/292x292);*/
    display: flex;
    float: left;
}


/*картинка поста*/

.post-img {
    margin: auto;
    max-width: 292px;
    max-height: 292px;
}


/*скидка красная*/

.skidka {
    margin: 0;
    margin-left: 16px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(234, 88, 88);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    float: left;
}


/*блок с кнопками покупки*/

.pokupka {
    margin-left: 30px;
    display: inline-block;
}


/*стиль кнопки покупка*/

.pokupka a {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    width: 206px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
}


/* покупка Китай */

.pokupka-china {
    background-color: #ea5858;
}

.pokupka-china:hover {
    background-color: #e83c3c;
}


/*покупка Россия*/

.pokupka-russia {
    margin-top: 10px;
    background-color: #00cd98;
}

.pokupka-russia:hover {
    background-color: #02a379;
}


/*контейнер плюсы минусы характеристика*/

.plus-minus-har {
    margin-top: 25px;
    display: block;
}


/*название списка*/

.pmh-title {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.28);
}


/*контейнеры ul*/

.info-post {
    width: 390px;
    float: left;
}


/*изменяем маркеры*/


/*общие параметры маркеров*/

.plus-minus-har ul li:before {
    /* Прячем исходные маркеры */
    list-style-type: none;
    font-family: "Roboto";
    line-height: 1.2;
    font-size: 18px;
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.28);
    padding-right: 20px;
}


/*плюс*/

.plus ul li:before {
    /* Сам маркер */
    /* Расстояние от маркера до текста */
    content: "+";
    color: rgb(66, 213, 173);
}


/*минус*/

.minus ul li:before {
    content: "-";
    color: rgb(234, 88, 88);
}

/*Характеристики*/
.harki{
    clear: both;
}

/*точка*/

.harki ul li:before {
    content: "•";
    color: rgb(66, 213, 173);
}


/*======================АКЦИИ=====================*/

.akciya-h1 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}


/*контейнер для акции*/

.akciya-container {}


/*блок с основной картинкой*/

.akciya-div-logo {
    width: 540px;
    height: 304px;
    float: left;
}


/*максимальные размеры картинки*/

.akciya-div-logo img {
    max-width: 540px;
    max-height: 304px;
}


/*блок с таблицей*/

.akciya-kontakt {
    width: 280px;
    float: right;
    margin-top: -10px;
}

.akciya-kontakt table {
    /*margin-top: 15px;*/
    border: none;
    padding: 0;
}


/*название критерия*/

.akciya-kontakt td {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.2;
}


/*все четные ячейки, значение критерия*/

.akciya-kontakt td:nth-child(even) {
    color: rgb(51, 51, 51);
    font-family: Roboto-Regular;
}


/*Все нечетные ячейки*/

.akciya-kontakt td:nth-child(odd) {
    width: 90px;
    vertical-align: top;
}


/*таблица с контактами акции*/

.akciya-kontakt-table {
    border-collapse: collapse;
}


/*стрка таблицы с контактами акции*/

.akciya-kontakt-table tr:not(:last-child) {
    border-bottom: 1px solid rgb(153, 153, 153);
}


/*отступы в ячейках*/

.akciya-kontakt-table tr td {
    padding: 13px 0;
}


/*========О акции========*/


/*контейнер о акции*/

.o-akcii {
    clear: both;
    margin-top: 33px;
}


/*отступы*/

.akcii-p-foto {
    margin-top: 45px;
}


/*контейнер с картинками акции*/

.akcii-div-img {
    margin-top: -15px;
    margin-right: -15px;
}


/*первая картинка акций(большая)*/

.akcii-div-img img:first-child {
    height: 250px;
    float: left;
    margin-right: 12px;
}


/*картинки акции*/

.akcii-div-img img {
    /*max-width:128px;*/
    height: 117px;
    margin-right: 12px;
    margin-top: 12px;
}


/*==============комментарии==============*/


/*Контейнер для комментариев*/

.comments {
    clear: both;
    margin-top: 82px;
}


/*контейнер для формы комментариев*/

.comments-div-form {
    width: 619px;
    height: 157px;
    /*width: 559px;*/
    /*height: 92px;*/
    border: 3px solid #000;
    margin: 0 auto;
    margin-top: 35px;
    /*padding: 37px 32px 17px 28px;*/
    position: relative;
}

.comments-form {
    /*background-color: #444;*/
}


/*общие настройки строк ввода*/

.comments-form-all {
    border: none;
    border-bottom: 1px solid rgb(232, 232, 232);
    width: 136px;
    height: 7px;
    font-size: 10px;
    font-family: "Verdana";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    padding-bottom: 10px;
}

.comments-form-all:focus {
    border-color: #000;
}


/*автор*/

.comments-form-author {
    top: 37px;
    left: 28px;
}


/*email*/

.comments-form-email {
    bottom: 65px;
    left: 28px;
}


/*text area текст комментария*/

.comments-form-comment {
    width: 346px;
    height: 55px;
    resize: none;
    bottom: 65px;
    right: 34px;
}

.ta {
    width: 556px;
}


/*строка email не будет опубликовано*/

.comment-notes {
    margin: 0;
    left: 28px;
    bottom: 29px;
    font-size: 10px;
    font-family: "Verdana";
    color: #00cd98;
    font-style: italic;
    line-height: 1.8;
    text-align: left;
    position: absolute;
}


/*кнопка отправить*/

.comment-respond .form-submit {
    top: 109px;
    right: 34px;
    margin: 0;
    position: absolute;
}


/*=============комментарии пользователей=============*/


/*контейнер с комментами*/

.comments-user {
    margin-left: auto;
    margin-right: auto;
    width: 619px;
}


/*ul комментов*/

.comment-list:first-child{
    margin-top: 94px;
}

.comment-list {
    margin: 0;
    padding: 0;
}


/*li комментов*/

.comment-list li {
    margin-top: 65px;
    border-bottom: 1px solid rgb(232, 232, 232);
}


/*убираем отступ первого коммента*/

.comment-list li:first-child {
    margin-top: 0;
}


/*сам комментарий пользователя*/

.comment-list p {
    font-size: 12px;
    font-family: "Verdana";
    color: rgb(102, 102, 102);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
}


/*дата коммента*/

.comment-list .comment-user-data {
    font-size: 10px;
    font-family: "Verdana";
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.2;
    text-align: right;
}


/*цвет имени автора коммента*/

.comment-author {
    color: #000;
}


/*размер шрифта*/

.fs18 {
    font-size: 18px;
}


/*------------------рубрика акции-----------------*/

.fs12 {
    font-size: 12px;
}

.fs16 {
    font-size: 16px;
}


/*контейнер для названия и компании*/

.header-category {
    position: relative;
    height: 32px;
}

.nazvanie {
    position: absolute;
    left: 235px;
}

.company {
    position: absolute;
    right: 65px
}


/*контейнер для всех записей*/

.post-shares-all {
    margin-top: 15px;
}


/*посты*/

.post-shares {
    /*margin-top: 15px;*/
    padding: 15px 0;
    border-top: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    margin-top: 15px;
    position: relative;
}


/*первый пост*/

.post-shares-all .post-shares:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}


/*контейнер картинки поста*/

.post-shares-div-img {
    float: left;
    width: 220px;
    height: 120px;
}


/*картинка поста*/

.post-shares-img {
    width: 220px;
    height: 120px;
}


/*содежимое статьи*/

.post-shares-content {
    display: inline-block;
    width: 476px;
    margin: 6px 0 0 15px;
}


/*название поста*/

.post-shares-content .podzagolovok {
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 0;
}


/*блок для названия компании*/

.post-shares-name-company {
    margin-top: 6px;
    float: right;
    width: 138px;
}


/*серое название компании*/

.shares-name-company,
.shares-name-company a {
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 0;
}


/*дата поста*/

.post-shares-data {
    font-size: 10px;
    font-family: "Roboto";
    color: #00cd98;
    position: absolute;
    right: 10px;
    bottom: 15px;
}


/*--------------------------страница компании-----------------------*/

.company-h1 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb( 51, 51, 51);
    text-transform: uppercase;
    margin-top: 7px;
}


/*блок с основной картинкой*/

.company-div-logo {
    width: 130px;
    height: 200px;
    float: left;
}


/*максимальные размеры картинки*/

.company-div-logo img {
    max-width: 130px;
    max-height: 200px;
}


/*блок с таблицей*/

.company-kontakt {
    width: 715px;
    float: right;
    margin-top: -10px;
}

.company-kontakt table {
    /*margin-top: 15px;*/
    border: none;
    padding: 0;
}

.w100 {
    width: 100px;
}

.w180 {
    width: 180px;
}

.w70 {
    width: 70px;
}

.w330 {
    width: 330px;
}


/*название критерия*/

.company-kontakt td {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.2;
}


/*все четные ячейки, значение критерия*/

.company-kontakt td:nth-child(even) {
    color: rgb(51, 51, 51);
    font-family: Roboto-Regular;
}


/*Все нечетные ячейки*/

.company-kontakt td:nth-child(odd) {
    vertical-align: top;
}


/*таблица с контактами акции*/

.company-kontakt-table {
    border-collapse: collapse;
}

.text-right {
    text-align: right;
}


/*стрка таблицы с контактами акции*/

.brd {
    border-bottom: 1px solid rgb(153, 153, 153);
}


/*пустые ячейка для промежутка*/

.company-kontakt .company-kontakt-table tr td.null {
    border-bottom: none;
    width: 15px;
}


/*отступы в ячейках*/

.company-kontakt-table tr td {
    padding: 13px 0;
}


/*========рубрика компаний========*/


/*Таблица компаний*/

.list-company {
    width: 850px;
}


/*стиль заголовка таблицы*/

.list-company .podzagolovok {
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
}


/*столб миниатюры*/

.th-null {
    width: 120px;
}


/*название компании*/

.th-name {
    width: 470px;
}


/*отзыв и рейтинг*/

.th-otziv,
.th-rejting {
    width: 130px;
}


/*стрелки*/

.th-rejting img {
    display: inline-block;
}

.list-company td {
    /*outline: 1px solid black;*/
}


/*ячейка миниатюры*/

.td-img {
    text-align: center;
}


/*контейнер миниатюры*/

.company-div-img {
    display: inline-block;
    max-width: 120px;
    min-height: 110px;
    overflow: hidden;
}


/*сама миниатюра*/

.company-div-img img {
    max-width: 120px;
}


/*ячейка имя и описания компании*/

.td-name {
    vertical-align: top;
}

.td-name .podzagolovok {
    margin: 0;
}


/*ячейка отзыва и рейтинга*/

.td-otziv,
.td-rejting {
    text-align: center;
    vertical-align: middle;
}


/*ячейки разделения*/

.tr-null td {
    height: 16px
}

.tr-hr td {
    height: 20px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

/*Убрал линию последнего элементы*/
.tr-hr:last-child td{
    border-bottom:none;
}

.tr-null-2 td {
    height: 20px
}


/*скрыть элементы границы для последнего*/

.list-company table tr:nth-last-child(1),
.list-company table tr:nth-last-child(2)
/*table tr:nth-last-child(3)*/

{
    display: none;
}


/*--------------рубрика Видео---------------*/


/*все посты в видео рубрике*/

.video-category {
    font-size: 0;
    margin-right: -29px;
}


/*блок одного поста*/

.video-div {
    display: inline-block;
    width: 265px;
    height: 210px;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-right: 28px;
    margin-top: 35px;
}


/*первые три поста*/

.video-div:nth-child(1),
.video-div:nth-child(2),
.video-div:nth-child(3) {
    margin-top: 0;
}


/*контейнер картинки*/

.video-div-img,
.video-div-img img {
    width: 265px;
    height: 145px;
}


/*заголовок поста*/

.video-title {
    font-size: 14px;
    font-family: Roboto-Regular;
    color: rgb(51, 51, 51);
    /*text-transform: uppercase;*/
    line-height: 1.2;
    text-align: left;
    margin: 15px 8px 0 8px;
}


/*ссылка смотрет*/

.video-read {
    font-size: 10px;
    font-family: "Verdana";
    font-style: italic;
    line-height: 1.2;
    text-align: right;
    margin-right: 8px;
    margin-bottom: 8px;
    display: block;
}


/*-----------страница Видео---------------*/


/*заголовок*/

.pv-h1 {
    font-size: 20px;
    font-family: Roboto-Regular;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: left;
}


/*контейнер видео и инфо*/

.video-info {
    width: 650px;
    /*height: 360px;*/
}


/*контейнер рейтинг и автор*/

.rejting-avtor {
    margin-top: 18px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.2;
}


/*контейнер рейтинг*/

.video-rejting {
    float: left;
    margin-left: 18px;
}


/*контейнер автор*/

.video-avtor {
    float: right;
    margin-right: 18px;
}


/*имя автора*/

.video-avtor-name {
    color: #000;
}


/*контейнер для описания*/

.video-opisanie {
    margin-top: 50px;
}


/*------------страница реклама-----------------*/


/*заголовок страницы*/

.page-div h1 {
    font-size: 20px;
    font-family: Roboto-Regular;
    color: rgb( 51, 51, 51);
    text-transform: uppercase;
    text-align: center;
}


/*стиль шрифта*/

.page-div {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb( 51, 51, 51);
    text-align: left;
}


/*стиль шрифта*/

.page-div {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb( 51, 51, 51);
    text-align: left;
    border-bottom: none;
}


/*стиль списка*/

.page-div ul {
    margin-top: 30px;
}


/*стиль элементов списка*/

.page-div ul li {
    margin-bottom: 9px;
}

.page-div ul li:last-child {
    margin-bottom: 0;
}


/*стиль маркера*/

.page-div:not(.forum) ul li:before {
    content: "●";
    color: #00cd98;
    margin-right: 11px;
}

.page-div h2 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb( 51, 51, 51);
    border-bottom: 1px solid #00cd98;
    padding-bottom: 7px;
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
}


/*-------------рубрика рецепты-----------*/

.recipes-h1 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}


/*контейнер для поиска*/

.search {
    height: 31px;
    width: 850px;
}


/*контейнер поиска*/

.search-div {
    border: 2px solid #000;
    border-radius: 3px;
    height: 27px;
}


/*строка поиска*/

.search-text {
    width: 340px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    font-family: "Verdana";
    color: rgb( 204, 204, 204);
    font-style: italic;
    text-align: left;
    padding-left: 13px;
    line-height: 27px;
    border: none;
    display: block;
    float: left;
}


/*кнопка поиск*/

.search-button {
    width: 40px;
    height: 28px;
    background-color: #000;
    color: #00cd98;
    cursor: pointer;
    border: none;
    line-height: 28px
}


/*выравнивание по левому краю*/

.fl {
    float: left;
}


/*выравнивание по правому краю*/

.fr {
    float: right;
}


/*Таблица компаний*/

.list-recipes {
    margin-top: 20px;
    width: 850px;
    border-collapse: collapse;
}


/*стиль заголовка таблицы*/

.list-recipes .podzagolovok {
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    margin-left: 0;
}


/*название компании*/

.rec-th-name {
    text-align: left;
}


/*положение текста общее для описания постов*/

.list-recipes .tr td {
    vertical-align: middle;
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
}


/*отзыв и рейтинг*/

.rec-th-avtor,
.rec-th-data,
.rec-th-rejting {
    width: 130px;
    text-align: center;
    vertical-align: middle;
}


/*стрелки*/

.th-rejting img {
    display: inline-block;
}


/*ячейка имя и описания компании*/

.td-name .podzagolovok {
    margin: 0;
}


/*ячейка автора. даты и рейтинга*/

.rec-td-avtor,
.rec-td-data,
.rec-td-rejting {
    text-align: center;
    vertical-align: middle;
}


/*название рецепта*/

.rec-td-name a:hover {
    color: #00cd98;
}


/*-----------------страница рецепты------------------------*/


/*блок с контактами*/

.p-recipes-div-kont {
    width: 280px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.2;
}


/*общий стиль*/

.p-recipes-div-kont p {
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
}


/*название*/

.p-recipes-div-kont {
    width: 470px;
}

.p-recipes-div-kont span:first-child {
    color: rgb(51, 51, 51);
    margin-left: 20px;
}


/*====таблица====*/


/*сама таблица*/

.post-recipes-ingredient {
    border-collapse: collapse;
}


/*стиль строк*/

.post-recipes-ingredient tr th,
.post-recipes-ingredient tr td {
    height: 33px;
    vertical-align: middle;
    border-bottom: 1px solid #e8e8e8;
}


/*заголовок ингридиентов*/

.post-recipes-ingredient th {
    width: 70px;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.28);
    font-weight: normal;
}

.post-recipes-ingredient th:first-child {
    text-align: left;
    width: 270px;
}

.post-recipes-ingredient th span {
    border-bottom: 1px solid #00cd98;
    padding-bottom: 6px;
}


/*содержимое таблицы*/

.post-recipes-ingredient td {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
}

.post-recipes-ingredient td:first-child {
    text-align: left;
}


/*===Описание===*/


/*контейнер описания*/

.o-post-recipes {
    margin-top: 50px;
}


/*строка описания*/

.o-post-recipes .podzagolovok {
    margin-left: 0;
}


/*span описания*/

.o-post-recipes .podzagolovok span {
    font-family: Roboto-Regular;
}


/*контейнер комментов*/

.o-post-recipes-comment {
    margin-top: -14px;
}


/*----------рецепты админка-----------*/


/*строка введите имя*/

.input-name {
    width: 490px;
    height: 28px;
    padding-left: 14px;
    line-height: 28px;
    font-size: 10px;
    font-family: "Verdana";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    border: 1px solid #000;
    border-radius: 3px;
}

.w263{
    width: 263px;
    margin: 0 auto;
}
/*элементы*/

.elements-input:first-child {
margin-top: 40px;
}

.elements-input {
    font-size: 16px;
    font-family: "Verdana";
    color: rgb(51, 51, 51);
    line-height: 1.2;
    margin-top: 15px;
    clear: both;
}

/*label метка элемента*/
.elements-input label{
    line-height: 28px;
}

/*название элемента*/
.name-element {
    max-width: 157px;
    float: left;
    margin-right: 25px;
    display: inline-block;
    text-align: left;
}

/*контейнер для ввода ml*/
.span-input-ml{
    float: right;
}

/*строка ввода ml*/
.input-ml {
    width: 40px;
    height: 28px;
    border: 1px solid #d1d1d1;
    border-radius: 3px 0 0 3px;
    font-size: 12px;
    text-align: center;
}

/*ml*/
.ml {
    border-radius: 0 3px 3px 0;
    background-color: #dddddd;
    width: 40px;
    height: 28px;
    display: inline-block;
    vertical-align: bottom;
    line-height: 28px
}

/*строка ввода нового элемента*/
.elements-input-new{
    margin-top: 45px;
    margin-bottom: 0;
}

/*строка ввода элемента*/
.input-name-el{
    /*width: 173px;*/
    float: left;
    height: 28px;
    padding-left: 14px;
    line-height: 28px;
    font-size: 10px;
    font-family: "Verdana";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    margin-right: 25px;
}

/*отступ для зеленой кнопки*/
.form-elements .btn-green{
    margin-top: 40px;
}

/*описание рецепта*/
.opisanie{
width: 246px;
height: 113px;
margin-top: 40px;
    border: 1px solid #d1d1d1;
     padding-left: 14px;
    font-size: 10px;
    font-family: "Verdana";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

/*---------страница статей----------*/

/*описание*/
.text-other-2{
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: left;
}

/*Общие стили*/
.soc-f-vk *{
color: #fff;
}

.soc-f-vk span{
    margin-left: 25px;
  font-size: 11px;
  font-family: "Roboto";
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.92489803567102,0,0,0.92489803567102,0,0);
  -webkit-transform: matrix( 0.92489803567102,0,0,0.92489803567102,0,0);
  -ms-transform: matrix( 0.92489803567102,0,0,0.92489803567102,0,0);
}

.soc-f-vk .fa{
    display: inline-block;
    line-height: 30px;
    float: left;
}

/*стиль F*/
.f-book{
    display: inline-block;
    width: 155px;
    margin-right: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #4663a0;
}

/*стиль иконки F*/
.f-book .fa{
    height: 30px;
    width: 30px;
    text-align: center;
    color: #fff;
    background-color: #3c5b9b;
}

/*стиль VK*/
.vk-blue{
    display: inline-block;
    width: 155px;
    margin-right: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #567699;
}

/*стиль иконки VK*/
.vk-blue .fa{
    height: 30px;
    width: 30px;
    text-align: center;
    color: #fff;
    background-color: #43678d;
}

/*=-=-=-=-=-мелкие доработки=-=-=-=-=-*/

/*картинка стандартной записи в новостях и т.д.*/
.art-img{
    max-width:850px
}


/*---------------ВХОД--------------------*/
body{
 position:relative;
}

.div-form-vhod{
    position: absolute;
    position:relative;
    background-color: rgba(0, 0, 0,0.702);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height:100%;
    z-index:3;
}

/*контейнер табов*/
.div-tabs{
    position:absolute;
    z-index:4;
    left:-50%;
    right:-50%;
    background-color:#fff;
    width:400px;
    height:340px;
    margin:150px auto 0;

}

.tabs-dark{
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
    z-index:3;

}


/*кнопки таба*/
.tab-ul{
    border-bottom:1px solid #e8e8e8;
    height:52px;
    padding:0;
}

/*кнопка таба*/
.tab-ul li{
    display:inline-block;
    line-height:52px;
    margin-left:60px;
    text-transform:uppercase;
}

/*первая кнопка*/
.tab-ul li:first-child{
    margin-left:84px;
}

/*активная кнопка*/
.tab-ul li.active{
    border-bottom:1px solid #00cd98;
}

/*строки по центру*/
#loginform p{
    text-align:center;
/*     outline:1px solid red; */
}
/*фон input строк кроме отправить*/
#loginform input:not([type="submit"]){
    background-color:#fff;
    border: none;
    border-bottom: 1px solid rgb(232, 232, 232);
    width: 215px;
    font-size: 10px;
    font-family: "Verdana";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 10px;
}


#loginform input[type="submit"]{
    margin-top:30px;
}

.panel li a{
    display:block;
    margin: 0;
    font-size: 10px;
    font-family: "Verdana";
    color: #00cd98;
    font-style: italic;
    line-height: 1.8;
    text-align: center;
}
