/*================ Общие стили для сайта ========================*/


/*пользовательские шрифты*/

@font-face {
    font-family: Roboto-Light;
    /* Гарнитура шрифта */
    src: url(fonts/Roboto-Light.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-Regular;
    /* Гарнитура шрифта */
    src: url(fonts/Roboto-Regular.ttf);
    /* Путь к файлу со шрифтом */
}


/*Убрал маркеры всех списков*/

li {
    list-style: none;
}


/*ширина 1200 по центру*/

.w1200 {
    width: 1200px;
    margin: 0 auto;
}


/*убрал подчеркивание всех ссылок*/

a {
    text-decoration: none;
}

/*=========================*/


/*---------------ШАПКА САЙТА-------------------*/


/*верхняя черная линия*/

.line-top-white {
    height: 40px;
    position: relative;
}


/*блок логотипа*/

.div-logo {
    background: url(img/png/logo.png) center no-repeat;
    background-color: rgb(0, 205, 152);
    position: absolute;
    top: 0px;
    width: 186px;
    height: 110px;
    z-index: 2;
}


/*верхняя черная линия*/

.line-top-black {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.35);
    left: 0px;
    width: 100%;
    min-width: 1200px;
    height: 70px;
}


/*верхняя строка с меню и формой входа*/

.menu-user{
    margin-left: 186px;
}

/*=============верхнее меню 1====================*/

.ul-top-1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.ul-top-1 li {
    display: inline-block;
}

.ul-top-1 li a {
    margin: 0;
    padding: 13px 37px;
    font-family: Roboto-Light, 'Arial';
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    line-height: 39px;
}

/*при наведении верхнее меню 1*/
.ul-top-1 li a:hover {
    background-color: #000;
    color: #fff;
}


/* ===========стиль кнопок верхних вход регистрация===========*/
.vhod{
	float: right;
}

/* вход и регистрация */
.btn-top-1 a{
	    font-family: Roboto-Light, 'Arial';
	    text-transform: uppercase;
	    font-size: 10px;
	    color: rgb(51, 51, 51);
	    line-height: 39px;
	    padding: 14px 46px;
}
.btn-top-1 a:hover{
	background-color: rgb(0, 205, 152);
}

.vhod img{
	margin-right:10px;
}
/*==================================*/

/*=============верхнее меню 2====================*/

.ul-top-2 {
	margin: 0;
	padding: 0 42px;
	margin-left: 186px;
	display: inline-block;

}

.ul-top-2 li {
    display: inline-block;
}

.ul-top-2 li a {
	display: block;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    font-family: Roboto-Regular, 'Arial';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    line-height: 70px;
}

/*при наведении верхнее меню 1*/
.ul-top-2 li a:hover {
    color: rgb(0, 205, 152);
    text-decoration: underline;
}

.ul-top-2 li:first-child a{
	padding-left:0;
}

.ul-top-2 li:last-child a{
	padding-right:0;

}
/*==================================*/

/*-----------------------------------
