/*================ Общие стили для сайта ========================*/


/*основной зеленый цвет #00cd98*/


/*пользовательские шрифты*/

@font-face {
    font-family: Roboto-Light;
    /* Гарнитура шрифта */
    src: url(fonts/Roboto-Light.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-Regular;
    /* Гарнитура шрифта */
    src: url(fonts/Roboto-Regular.ttf);
    /* Путь к файлу со шрифтом */
}


/*убрал обводку со всех элементов в фокусе*/

body *:focus {
    outline: 0;
}


/*хак для float*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*Убрал маркеры всех списков*/

li {
    list-style: none;
}


/*ширина 1200 по центру*/

.w1200 {
    width: 1180px;
    margin: 0 auto;
}


/*убрал подчеркивание всех ссылок, черный цвет всем ссылкам*/

a {
    text-decoration: none;
    color: #000;
}


/*=========================*/


/*---------------ШАПКА САЙТА-------------------*/


/*верхняя черная линия*/

.line-top-white {
    height: 39px;
    margin-bottom: 1px;
    position: relative;
}


/*блок логотипа*/

.div-logo {
    background: url(img/png/logo.png) center no-repeat;
    background-color: #00cd98;
    position: absolute;
    top: 0px;
    width: 186px;
    height: 110px;
    z-index: 2;
}


/*верхняя черная линия*/

.line-top-black {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.35);
    left: 0px;
    width: 100%;
    min-width: 1180px;
    height: 70px;
}


/*верхняя строка с меню и формой входа*/

.menu-user {
    margin-left: 186px;
}


/*=============верхнее меню 1====================*/

.ul-top-1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.ul-top-1 li {
    display: inline-block;
}

.ul-top-1 li a {
    margin: 0;
    display: inline-block;
    padding-left: 37px;
    padding-right: 37px;
    font-family: Roboto-Light, 'Arial';
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    line-height: 39px;
}


/*при наведении верхнее меню 1*/

.ul-top-1 li a:hover,
.ul-top-1 li.active a {
    background-color: #000;
    color: #fff;
}


/* ===========стиль кнопок верхних вход регистрация===========*/

.vhod {
    float: right;
}


/* вход и регистрация */

.btn-top-1 a {
    display: inline-block;
    font-family: Roboto-Light, 'Arial';
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(51, 51, 51);
    line-height: 39px;
    padding-left: 46px;
    padding-right: 46px
}


/*кнопка входа при наведении*/

.btn-top-1 a:hover {
    background-color: #00cd98;
}

.vhod img {
    margin-right: 10px;
}


/*==================================*/


/*=============верхнее меню 2====================*/

.ul-top-2 {
    margin: 0;
    padding: 0;
    margin-left: 186px;
    text-align: center;
}

.ul-top-2 li {
    display: inline-block;
}

.ul-top-2 li a {
    display: block;
    margin: 0;
    padding-left: 22px;
    padding-right: 22px;
    font-family: Roboto-Regular, 'Arial';
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    line-height: 70px;
    width: 100%;
}


/*при наведении верхнее меню 2*/

.ul-top-2 li a:hover,
.ul-top-2 li.active a {
    color: #00cd98;
}

.ul-top-2 li:first-child a {
    padding-left: 0;
}

.ul-top-2 li:last-child a {
    padding-right: 0;
}


/* подчеркивание элементов меню 2*/

.ul-top-2 li a:active .line-menu,
.ul-top-2 li.active .line-menu {
    border-bottom: 2px solid #00cd98;
    padding-bottom: 7px;
}


/*==================================*/


/*============ОСНОВНАЯ ЧАСТЬ===================*/


/*Контейнер для основной части*/

.container {
    width: 1130px;
    margin: 0 auto;
    margin-top: 40px;
    padding-right: 25px;
    padding-left: 25px;
}


/*контейнер для основного содержимого*/

section {
    width: 850px;
    display: inline-block;
}


/*Когтейнер для левого и правого блока*/

article {
    border-bottom: 1px solid rgb(221, 221, 221);
}


/*блоки левый и правый*/

.block {
    width: 405px;
    /*background-color: #ddd;*/
}

.block-left {
    float: left;
}

.block-right {
    float: right;
}


/*Заголовок левого и правого контейнера*/

.zagolovok {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 22px;
    font-family: Roboto-Light, 'Arial';
    color: rgb(51, 51, 51);
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.28);
}


/*подчеркивающаяся зеленая линия*/

.line {
    border-bottom: 1px solid #00cd98;
    padding-bottom: 7px;
}


/*картинка левого блока*/

.img-colomn {
    width: 405px;
    height: 149px;
    margin-top: 27px;
}

.mixologiya {
    background: url(img/png/mixologiya.png)center no-repeat;
}

.vipe-news {
    background: url(img/png/vipe-news.png)center no-repeat;
}


/*кратное описание новости*/

.news {
    position: relative;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.news:last-child {
    border-bottom: none;
}


/*общий стиль даты*/

.data {
    font-size: 12px;
    font-family: Roboto-Light, 'Arial';
    color: rgb(66, 213, 173);
}


/*для левого и правого блоков*/

.data-block {
    position: absolute;
}


/*заголовок общий*/

.title {
    font-size: 16px;
    font-family: Roboto-Light, 'Arial';
    color: rgb(0, 0, 0);
    margin: 0;
}


/*заголовок для блока*/

.title-block {
    height: 35px;
    width: 250px;
    margin-left: 145px;
    text-align: right;
}


/*кратное описание общее*/

.text {
    font-size: 12px;
    font-family: Roboto-Light, 'Arial';
    color: rgb(102, 102, 102);
    text-align: left;
    margin: 0;
    margin-top: 10px;
}


/*кратное описание для блока*/

.text-block {
    height: 40px;
}


/*кнопка читаль полностью общая*/

.read-all {
    font-size: 10px;
    font-family: Roboto-Light, 'Arial';
    color: #00cd98;
    border: 1px solid #00cd98;
    padding: 5px 20px;
}


/*кнопка читаль полностью для блока*/

.read-all-block {
    float: right;
}


/*============ПРОЧИЕ ПОСТЫ==============*/


/*Блок для постов*/

.div-post-other {}


/*пост*/

.post-other {
    margin-top: 37px;
    height: 167px;
}


/*блок для картинки*/

.post-other-img {
    display: inline-block;
    width: 419px;
    height: 167px;
    position: relative;
}


/*миниатюра поста*/

.post-other-img img {
    width: 419px;
    height: 167px;
}


/*темная полоска внизу миниатюры поста*/

.post-other-black-info {
    position: absolute;
    bottom: 31px;
    width: 379px;
    height: 31px;
    margin-bottom: -31px;
    padding: 0 20px;
    background-color: rgb(0, 0, 0);
    opacity: 0.502;
    /*line-height: 28px;*/
}


/*дата на черной полоске*/

.data-other {
    line-height: 31px;
    font-size: 14px;
}


/*читать полностью на черной полоске*/

.read-all-other {
    font-size: 12px;
    float: right;
    margin-top: 3px;
}


/*блок заголовока и анонса поста*/

.post-other-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 405px;
    height: 167px;
    float: right;
}


/*выравнивение по центру по вертикали текст*/

.va-c {
    margin: auto;
}


/*заголовок поста*/

.title-other {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
}


/*анонс поста*/

.text-other {
    font-size: 14px;
    text-align: left;
}


/*=====================================*/


/*=================ПАГИНАЦИЯ====================*/


/*контейнер для пагинации*/

.pagination-index {
    margin-top: 70px;
    text-align: center;
    font-family: Roboto-Regular, 'Arial';
}


/*ul пагинации*/

.page-numbers {
    font-size: 18px;
    color: rgb(51, 51, 51);
}


/*li пагинации*/

.page-numbers li {
    display: inline-block;
}


/*активная страница*/

.page-numbers li span {
    color: #00cd98;
}


/*стрелка назад*/

.prev {
    margin-right: 30px;
}


/*стрелка вперед*/

.next {
    margin-left: 30px;
}


/*---------------САЙДБАР------------------*/

sidebar {
    width: 240px;
    float: right;
    position: relative;
}


/*sb-r блок с ярлыком общий*/

.sb-r {
    margin-top: 77px;
    border: 3px solid #000;
    width: 181px;
    /*height: 262px;*/
    /*height: 216px;*/
    position: relative;
    padding: 35px 27px 20px;
}


/*=======top5=======*/

.top5 {
    margin-top: 52px;
}


/*значек сайдбара*/

.sidebar-img {
    position: absolute;
    right: 27px;
    top: -47px;
}


/*ссылки TOP5*/

.top5 a {
    display: block;
    font-size: 12px;
    font-family: Roboto-Regular;
    color: #666;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
}


/*первая ссылка*/

.top5 a:first-child {}


/*крайняя ссылка*/

.top5 a:last-child {
    border-bottom: none;
    padding-bottom: 0;
}


/*=======best======*/


/*the best*/

.best {
    margin-top: 105px;
}


/*=========ПОДПИСКА========*/


/*ввод email*/

.input-email {
    width: 161px;
    padding: 5px;
    padding-left: 15px;
    font-family: Roboto-Regular;
    color: #666;
    font-size: 12px;
    margin: 0;
    margin-bottom: 20px;
    border: none;
    background-color: #ddd;
    height: 20px;
}


/*ввод email при фокусе*/

.input-email:focus {
    border: none;
    outline: none;
}


/*зеленая кнопка в сайд баре*/

.btn-green {
    /*padding: 5px;*/
    width: 181px;
    height: 30px;
    line-height: 30px;
    font-family: Roboto-Regular;
    text-transform: uppercase;
    background-color: #00cd98;
    font-size: 12px;
    border: none;
    text-align: center;
    cursor: pointer;
}


/*зеленая кнопка при наведении*/

.btn-green:focus,
.btn-green:hover {
    border: 0;
    outline: 0;
    background-color: #02a379;
}



/*==========ОПРОСНИК==========*/


/*общий стиль label */

.sb-r label {
    display: block;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}


/*радио кнопка*/

input[type="radio"] {
    cursor: pointer;
}


/*============РЕКЛАМНЫЙ БАННЕР САЙДБАР========*/


/*контейнер для банера*/

.sb-banner {
    margin-top: 20px;
    width: 241px;
    overflow: hidden;
}

/* отступ 1 банера*/
.sb-banner.sb-banner-1 {
    margin-top: 58px;
}

/* отступ 2 банера*/
.sb-banner.sb-banner-2 {
    margin-top: 55px;
}

/* отступ 3 банера*/
.sb-banner.sb-banner-3 {
    margin-top: 25px;
}

/*картинка рекламного блока*/

.sb-banner-img {
    width: 241px;
}


/*==========BEST-DEVICE ЛУЧШИЕ ДЕВАЙСЫ========*/
/*контейнер best-device*/
.best-device {
    margin-top: 44px;
    width: 241px;
}

/*Заголовок*/
.best-device p {
    font-size: 18px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.28);
}

/*стиль ссылки девайса общее*/
.best-device-a {
    -webkit-background-size: cover;
    background-size: cover;
    width: 131px;
    height: 84px;
    display: block;
    display: table;
    font-size: 16px;
    font-family: Roboto-Regular;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding-left: 110px;
    margin-bottom: 7px;
}
/*для выравнивания по центру*/
.best-device-a span{
    display: table-cell;
    vertical-align: middle;
}

/*стиль ссылки девайса при наведении общее*/
.best-device-a:hover{
  color: rgb(0, 0, 0);
}

/*отступ первого блока от заголовка*/
.best-device-a:nth-child(2) {
    margin-top: 30px;
}

/*отступ крайнего блока отменен*/
.best-device-a:last-child {
    margin-bottom: 0;
}

/*1 девайс*/
.best-device-a.d1{
    background: url(img/png/best-device/1b.png) no-repeat;
}

.best-device-a.d1:hover{
    background: url(img/png/best-device/1g.png) no-repeat;
}

/*2 девайс*/
.best-device-a.d2{
    background: url(img/png/best-device/2b.png) no-repeat;
}

.best-device-a.d2:hover{
    background: url(img/png/best-device/2g.png) no-repeat;
}

/*3 девайс*/
.best-device-a.d3{
    background: url(img/png/best-device/3b.png) no-repeat;
}

.best-device-a.d3:hover{
    background: url(img/png/best-device/3g.png) no-repeat;
}

/*4 девайс*/
.best-device-a.d4{
    background: url(img/png/best-device/4b.png) no-repeat;
}

.best-device-a.d4:hover{
    background: url(img/png/best-device/4g.png) no-repeat;
}

/*5 девайс*/
.best-device-a.d5{
    background: url(img/png/best-device/5b.png) no-repeat;
}

.best-device-a.d5:hover{
    background: url(img/png/best-device/5g.png) no-repeat;
}

/*6 девайс*/
.best-device-a.d6{
    background: url(img/png/best-device/6b.png) no-repeat;
}

.best-device-a.d6:hover{
    background: url(img/png/best-device/6g.png) no-repeat;
}

/*стрелка вверх*/
.up{
    width: 37px;
    height: 53px;
    position: absolute;
    left: -46px;
    bottom: 0;
    background: url(img/png/up.png) no-repeat;
    background-size: cover;
        -webkit-background-size: cover;
    cursor: pointer;
}

/*--------------------footer-------------*/

/*блок футера*/
footer {
    background-color: #000;
    min-width: 1180px;
    margin-top: 70px;
    /*display: inline-block;*/
}

/*части футера*/
.footer {
    border-top: 1px solid #ddd;
}
.footer,
.footer a {
    color: #fff;
}
